<!DOCTYPE html>
<html>

  <head>
    @include('components/head.edge')

    @section('head')
    @end
  </head>

  <body>
    @include('components/header.edge')

    <div style="height: calc(99vh - 100px);">
    @!section('content')
    </div>

    @include('components/footer.edge')
    @include('components/model.edge')
  </body>

</html>