<!DOCTYPE html>
<html>

<head>
  @include('partials/head.edge')

  @section('head')
  @end
</head>

<body>
    @include('partials/header.edge')

    @!section('content')

  @include('partials/model.edge')
</body>

</html>