<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>goAvido</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
  </head>

  <body>
    <header
      class="items-stretch border-b-[color:var(--Transparent,rgba(255,255,255,0.00))] bg-white flex w-full flex-col justify-center px-14 py-4 border-b border-solid max-md:max-w-full max-md:px-5 shadow-[0_5px_30px_-15px_rgba(0,0,0,0.3)] sticky top-0 z-50">
      <div
        class="justify-between items-stretch flex w-full gap-5 max-md:max-w-full">
        <a href="/landing">
          <img loading="lazy" src="img/logo.png"
            class="aspect-[2.96] object-contain object-center w-[148px] overflow-hidden self-center shrink-0 max-w-full my-auto" />
        </a>
        <div class="justify-between items-stretch self-center flex gap-5 my-auto max-md:justify-center max-md:hidden">
          <div
            class="items-stretch border-b-[color:var(--cyan-600,#0BAACA)] flex aspect-[1.625] flex-col justify-center border-b border-solid">
            <div
              class="text-neutral-900 text-sm font-medium leading-6 whitespace-nowrap items-stretch border-[color:var(--black-900,#121212)] aspect-[1.625] justify-center border-0 border-solid">
              <a href="/"
                class="text-neutral-900 text-sm font-medium leading-6 whitespace-nowrap items-stretch border-[color:var(--black-900,#121212)] aspect-[1.625] justify-center border-0 border-solid"
                aria-label="Home">Home</a>
            </div>
          </div>
          <div
            class="text-neutral-900 text-sm font-medium leading-6 whitespace-nowrap items-stretch border-[color:var(--black-900,#121212)] aspect-[2.2916666666666665] justify-center border-0 border-solid">
            <a href="/company-profile"
              class="text-neutral-900 text-sm font-medium leading-6 whitespace-nowrap items-stretch border-[color:var(--black-900,#121212)] aspect-[2.2916666666666665] justify-center border-0 border-solid"
              aria-label="Network">Network</a>
          </div>
          <div
            class="text-neutral-900 text-sm font-medium leading-6 whitespace-nowrap items-stretch border-[color:var(--black-900,#121212)] aspect-[1.7916666666666667] justify-center border-0 border-solid">
            <a href="/events"
              class="text-neutral-900 text-sm font-medium leading-6 whitespace-nowrap items-stretch border-[color:var(--black-900,#121212)] aspect-[1.7916666666666667] justify-center border-0 border-solid"
              aria-label="Events">Events</a>
          </div>
        </div>
        <div class="justify-end items-start flex gap-5 max-md:justify-center">
          <img loading="lazy"
            src="img/search.svg"
            class="aspect-square object-contain object-center w-7 justify-center items-center overflow-hidden self-center shrink-0 max-w-full my-auto" />
          <img loading="lazy"
            src="img/Bookmark.svg"
            class="aspect-square object-contain object-center w-7 overflow-hidden self-center shrink-0 max-w-full my-auto" />
          <div class="justify-center items-stretch self-center flex gap-0.5 my-auto">
            <img loading="lazy"
              src="img/notification.svg"
              class="aspect-square object-contain object-center w-7 overflow-hidden shrink-0 max-w-full" />
            <div
              class="text-white text-center text-xs font-bold leading-3 whitespace-nowrap self-center aspect-square justify-center items-stretch my-auto px-2 py-1.5 rounded-[50%] bg-[#D6a206]">
              2
            </div>
          </div>
          <a class="max-md:hidden" href="/user-profile">
            <img loading="lazy" srcset="
              https://cdn.builder.io/api/v1/image/assets/TEMP/f4c2f59e94016bc1fc15682ff641a3f4e71e56f86251a97300103a160370e089?apiKey=6fa48ab5feaf40cab29242d468480325&width=100   100w,
              https://cdn.builder.io/api/v1/image/assets/TEMP/f4c2f59e94016bc1fc15682ff641a3f4e71e56f86251a97300103a160370e089?apiKey=6fa48ab5feaf40cab29242d468480325&width=200   200w,
              https://cdn.builder.io/api/v1/image/assets/TEMP/f4c2f59e94016bc1fc15682ff641a3f4e71e56f86251a97300103a160370e089?apiKey=6fa48ab5feaf40cab29242d468480325&width=400   400w,
              https://cdn.builder.io/api/v1/image/assets/TEMP/f4c2f59e94016bc1fc15682ff641a3f4e71e56f86251a97300103a160370e089?apiKey=6fa48ab5feaf40cab29242d468480325&width=800   800w,
              https://cdn.builder.io/api/v1/image/assets/TEMP/f4c2f59e94016bc1fc15682ff641a3f4e71e56f86251a97300103a160370e089?apiKey=6fa48ab5feaf40cab29242d468480325&width=1200 1200w,
              https://cdn.builder.io/api/v1/image/assets/TEMP/f4c2f59e94016bc1fc15682ff641a3f4e71e56f86251a97300103a160370e089?apiKey=6fa48ab5feaf40cab29242d468480325&width=1600 1600w,
              https://cdn.builder.io/api/v1/image/assets/TEMP/f4c2f59e94016bc1fc15682ff641a3f4e71e56f86251a97300103a160370e089?apiKey=6fa48ab5feaf40cab29242d468480325&width=2000 2000w,
              https://cdn.builder.io/api/v1/image/assets/TEMP/f4c2f59e94016bc1fc15682ff641a3f4e71e56f86251a97300103a160370e089?apiKey=6fa48ab5feaf40cab29242d468480325&
            "
              class="aspect-square object-contain object-center w-[82px] justify-center items-center overflow-hidden self-stretch shrink-0 max-w-full" />
          </a>
        </div>
      </div>
    </header>

    @!section('content')

  </body>

</html>